{% extends "auctions/layout.html" %}

{% block body %}
    {% if not userWatchlist %}
        <h1 style="font-size: 25px; position: relative; left: 15px;">No items in watchlist yet.</h1>
    {% else %}

    {% for watchlist in userWatchlist %}
        <div class="item">
            <img src="media/{{watchlist.product.image}}">
            <div class="spec">
                <a class="toListing" href="{% url 'listing' watchlist.product.id %}">{{watchlist.product.title}}</a>
                <h2 style="font-size: 18px; font-weight: bold; display: inline-block;">Price:</h2>
                <h2 style="font-size: 17px; display: inline-block;">${{watchlist.product.price}}</h2>
                <h2 style="font-size: 16px;">{{watchlist.product.description}}</h2>
            </div>
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}